<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings._22_107k_12__kafedra_ConnectionString"
            connectionString="Data Source=10.137.203.94,1433\SQLEXPRESS;Initial Catalog=&quot;22.107k-12 (kafedra)&quot;;User ID=22.107k-12;Password=GROM_2077"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>